.find {
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 30%);
}
.input-search {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  width: 75%;
}
.input-search:focus {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  outline: none;
}
.input-search ::placeholder {
  text-align: start;
}
.button {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 30%);
  border-radius: 30%;
}
.finder {
  width: inherit;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}
