.imageContainer {
  margin: auto;
  width: 70%;
  max-width: 800px;
  max-height: 78vh;
  min-height: 650px;
  border: 1px solid white;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
}

.myCardImage {
  position: relative;
  margin: 10px calc(15% / 6);
  width: calc(85% / 3);
  height: 300px;
  display: inline-block;
  transition: transform 300ms linear;
  border: 1px solid white;
  border-radius: 1rem;
}
.myCardImage:hover {
  cursor: pointer;
}

.myImage {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
  object-position: center;
}

.myCardImage:hover {
  transform: scale(1.2, 1.2);
}
.prevButtonImg,
.nextButtonImg {
  border-radius: 50%;
  background-color: rgba(67, 132, 156, 0.7);
  transition: transform 300ms ease-out;
}
.prevButtonImg:hover,
.nextButtonImg:hover {
  transform: scale(1.3, 1.3);
  background-color: rgb(67, 132, 156);
}
.myPositionImageTrash {
  position: absolute;
  top: 10px;
  right: 10px;
}
.myTrashImage {
  transition: transform 300ms ease-out;
}
.myTrashImage:hover {
  border-radius: 50%;
  transform: rotate(360deg) scale(1.5, 1.5);
}

@media screen and (max-width: 768px) {
  .imageContainer {
    width: 70%;
  }
  .myCardImage {
    width: calc(90% / 2);
    transition: none;
  }
  .myCardImage:hover {
    transform: none;
  }
}

@media screen and (max-width: 480px) {
  .imageContainer {
    width: 85%;
  }
  .myCardImage {
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .imageContainer {
    overflow-y: scroll;
  }
}
