/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body {
  font-family: "Bebas Neue";
  margin: 0;
  width: 100%;
  overflow: auto;

  background: linear-gradient(
    45deg,
    rgba(252, 97, 13, 1) 11%,
    rgba(181, 104, 61, 1) 50%,
    rgba(52, 117, 148, 1) 75%,
    rgba(7, 121, 179, 1) 83%,
    rgba(7, 121, 179, 1) 84%
  );
  background-blend-mode: normal;
  background-attachment: fixed;
  overflow: auto;
}

section {
  width: 100%;
  height: 600px;
}

.login-form {
  margin: 2rem auto;
  color: white(0, 0, 0, 0.5);

  border-radius: 5%;
  width: 300px;
  height: 400px;
}
.signup_form {
  margin: 2rem auto;
  color: white(0, 0, 0, 0.5);

  border-radius: 5%;
  width: 350px;
  height: 500px;
}

.link {
  text-decoration: none;
}
input {
  font-family: "Oswald", sans-serif;
  font-size: medium;
}
input[type="email"]::placeholder {
  color: white;
  font-size: medium;
}
input[type="password"]::placeholder {
  color: white;

  font-size: medium;
}
input[type="name"]::placeholder {
  color: white;

  font-size: medium;
}
input[type="last_name"]::placeholder {
  color: white;

  font-size: medium;
}

.dropdown-toggle {
  border: none;
  color: white;
}
.dropdown-menu {
  font-size: small;
  background-color: rgba(255, 255, 255, 0.5);
}

.top-side {
  position: absolute;
  top: 55px;
}
.div-container {
  width: 100%;
  height: 100%;
}
.login,
.signup {
  font-family: "Bebas Neue";
}
.logo,
.logo-rc {
  font-family: "Monoton";
}
.nav {
  background: transparent;
  backdrop-filter: blur(15px);
}
.scroll {
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 90vh;
}
a {
  color: black;
}
a:hover {
  color: blue;
}
.link:visited {
  color: blue;
}

.event-post {
  box-shadow: 0px 0px 20px 5px rgb(0 0 0 / 30%);
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  padding: 35px;
  border-radius: 10px;
  max-width: 700px;
  width: 100%;
  color: white;
  margin-top: 10px;
}
.title-container {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .event-scroll {
  overflow-y: auto;
} */

.event-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 700px;
  width: 70%;

  margin: auto;
}

.pEvent {
  width: 70%;
}
.myTrash {
  transition: transform 300ms ease-out;
}
.myTrash:hover {
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 50%;
  transform: rotate(360deg) scale(1.5, 1.5);
}

.leaveBtn {
  transition: transform 300ms ease-out;
}
.leaveBtn:hover {
  transform: scale(0.8, 0.8);
}
.enterBtn {
  transition: transform 300ms ease-out;
}
.enterBtn:hover {
  transform: scale(0.8, 0.8);
}
.addBtn {
  transition: transform 300ms ease-out;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
}
.addBtn:hover {
  transform: scale(1.3, 1.3);
  background-color: rgba(86, 170, 219, 0.3);
}
.searchBtn {
  transition: transform 300ms ease-out;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
}
.searchBtn:hover {
  transform: scale(1.3, 1.3);
  background-color: rgba(86, 170, 219, 0.3);
}

.moreInfo {
  transition: transform 300ms ease-out;

  border-radius: 50%;
}
.moreInfo:hover {
  transform: scale(1.3, 1.3);
  color: white;
}
.link:link {
  text-decoration: none;
}

.svgPencilPost {
  transition: transform 300ms ease-out;
}
.svgPencilPost:hover {
  transform: rotate(360deg) scale(1.7, 1.7);
}
.svgTrashPost {
  transition: transform 300ms ease-out;
}
.svgTrashPost:hover {
  transform: rotate(360deg) scale(1.7, 1.7);
}

.post-margin {
  width: 100%;
}
.rigth-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 480px) {
  .event-post {
    width: 78%;
    padding: 5px;
  }
  .login-form {
    margin-top: 30px;
    margin-bottom: 30%;

    width: 80%;
  }

  .signup_form {
    margin-top: 1rem;

    margin-bottom: 30%;
    height: 400px;
    width: 80%;
  }
  .section-init {
    height: 500px;
  }
  .logo-rc {
    margin-top: 60px;
  }
  .boton-log {
    width: auto;
  }
  .hidden {
    display: none;
  }
  .post-text {
    float: left;
  }
  .event-container {
    width: 90%;
  }
}
