.input-wrapper {
  position: relative;
  width: 271px;
}

.input {
  padding: 15px 15px 15px 35px;
  width: 100%;
  border-color: transparent;
}

.input.password {
  padding: 15px 35px 15px 15px;
}

.input-icon {
  color: gray;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.find {
  position: absolute;
}
