.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.createPostContainer {
  display: flex;
  width: 700px;
  min-height: 60px;
  background: white;
  border-radius: 5px;
  transform: translateX(7px);
  margin-bottom: 5px;
}

.profile-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
}

.image > img {
  width: 40px;
  height: 40px;
  max-height: 60px;
  border-radius: 50%;
}

.new-post-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  cursor: pointer;
}

.input-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  width: 90%;
  height: 65%;
  border-radius: 25px;
  background-color: rgb(201, 201, 201);
}

.posts {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  position: relative;
}

.post {
  position: relative;
  margin-top: 15px;
  background-color: rgba(255,255,255,0.3);
  border: 1px solid white;
  padding: 35px;
  border-radius: 11px;
  max-width: 700px;
  min-width: 700px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
}

.noPostAvailable {
  position: relative;
  top: 50%;
}

.postText {
  position: relative;
  display: flex;
  align-items: center;
  width: 87%;
}

.postText > h2 {
  font-size: 18px;
}

.postEdit {
  position: absolute;
  right: -50px;
  top: -3px;
  cursor: pointer;
}

.postDelete {
  position: absolute;
  right: -80px;
  top: -3px;
  cursor: pointer;
}

.postImage {
  width: 450px;
  border-radius: 5px;
  margin: 90px;
}

.postDate {
  position: relative;
  margin-top: 20px;
  bottom: 0px;
}
