.card {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 70%;
  max-width: 700px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.5);
}
.datePickerLong{
  max-width:200px;
  width:100%;
}
@media screen and (max-width: 480px) {
  .Card {
    margin-top: 5px;
    width: 95%;
    font-size: small;
  }
  /* form {
    width: 55%;
  } */
}
