.showvideo {
  transition: transform 300ms ease-out;
  color: white;
  border-radius: 50%;
}
.showvideo:hover {
  transform: scale(1.3, 1.3);
}
.video {
  border: 2px solid white;
  border-radius: 2%;
  width: 80%;
  max-width: 700px;
}
