.infoUser {
  margin: 1rem auto;
  width: 70%;
  max-width: 700px;
  height: 650px;
  border: 1px solid white;
  border-radius: 2rem;
  overflow: hidden;
}

.backgroundColor {
  width: 100%;
  height: 200px;
  background-color: rgba(26, 126, 184, 0.3);
}

.profilePicture {
  margin: auto;
  width: 200px;
  height: 200px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: #eee;
  margin-top: -100px;
  margin-bottom: -100px;
  z-index: 1;
}

.userData {
  width: 100%;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.3);
}

#form {
  margin: 7rem auto 2rem;
  width: 60%;
  height: auto;
}

.picture {
  margin: auto;
  width: 194px;
  height: 194px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 510px) {
  .infoUser {
    width: 90%;
    height: auto;
  }

  .backgroundColor {
    height: 150px;
    background-color: rgba(26, 126, 184, 0.3);
  }

  .profilePicture {
    margin-top: -100px;
    margin-bottom: -50px;
    width: 150px;
    height: 150px;
  }

  .picture {
    width: 150px;
    height: 144px;
  }

  #form {
    width: 70%;
    height: auto;
    margin: 3rem auto;
  }
}

